<div class="todos">
  <h1 class="header">
    todos
  </h1>

  <input type="text" (keyup.enter)="addTodo($event)" class="todoInput" placeholder="What needs to be done?" />

  <ul class="todosList" *ngIf="todoListState$ | async as todoListState">
    <div *ngFor="let todo of todoListState" class="todoItemWrapper">
      <div class="todoItem" (click)="toggleTodo(todo)" [ngClass]="{ strike: todo.isCompleted }">
        {{ todo.description }}
      </div>
      <div class="deleteTodo" (click)="deleteTodo(todo)">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path fill="none" d="M0 0h24v24H0V0z" />
          <path
            d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12 1.41 1.41L13.41 14l2.12 2.12-1.41 1.41L12 15.41l-2.12 2.12-1.41-1.41L10.59 14l-2.13-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4z"
          />
          <path fill="none" d="M0 0h24v24H0z" />
        </svg>
      </div>
    </div>
  </ul>

  <footer *ngIf="(todoListState$ | async)?.length">
    <div class="clearCompleted" (click)="clearCompleted()">Clear completed</div>
  </footer>
</div>
