.todos {
  min-width: 230px;
  max-width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  position: relative;

  .header {
    font-size: 60px;
    color: rgba(175, 47, 47, 0.5);
    font-weight: 300;
  }

  .todoInput {
    height: 65px;
    width: 100%;
    font-size: 24px;
    line-height: 1.4em;
    padding: 16px 16px 16px 60px;
    background: rgba(0, 0, 0, 0.003);
    border: none;
    outline: none;
    box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &::-webkit-input-placeholder {
      font-style: italic;
      font-weight: 300;
      color: #e6e6e6;
    }
  }

  .todosList {
    font-weight: 300;
    width: 100%;
    font-size: 24px;
    line-height: 1.4em;
    padding: 0;
    margin: 0;
    background: rgba(0, 0, 0, 0.003);
    border: none;
    box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .todoItemWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    .todoItem {
      padding: 15px 15px 15px 60px;
      width: 500px;
    }

    .deleteTodo {
      position: relative;
      right: 20px;

      svg:hover {
        fill: red;
        cursor: pointer;
      }
    }
  }

  .strike {
    color: rgba(175, 47, 47, 0.5);
    text-decoration: line-through;
  }

  footer {
    padding: 15px;

    &::before {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 40px;
      overflow: hidden;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2),
        0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
    }

    .clearCompleted {
      position: absolute;
      bottom: 6px;
      right: 20px;
      &:hover {
        text-decoration: underline;
        text-decoration-color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
        z-index: 3;
      }
    }
  }
}
