/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
}

html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    color: #4d4d4d;
    max-width: 550px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
}